-if @discussion.solutions.any?
  %p.discussions-intro Drag the solutions to arrange them in the order of your preference. Then click Vote.

  %div#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
    %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
      %li#vote.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active=link_to "Vote!", "#tabs-1"
      %li#results.ui-state-default.ui-corner-top=link_to "Results", "#tabs-2"

    %div#tabs-1.ui-tabs-panel.ui-widget-content.ui-corner-bottom
      %ul#sortable
        - @sortable_solutions.each_with_index do |solution, index|
          %li.ui-state-default{id: solution.id}
            %i.icon-th
            = solution.text
      = form_tag do
        %input{type: 'hidden', id: 'vote', name: 'vote'}
        %input{type: 'hidden', name: 'user_id', value: @current_user.id}
        %input{type: 'hidden', name: 'discussion_id', value: @discussion.id}
        = submit_tag "Vote", class: "btn btn-success save_vote btn-large"

    %div#tabs-2.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
      %ul#display
        -if @discussion.voted_on?
          - @schulze_solutions.each_with_index do |solution, index|
            %li.results{id: solution.id}
              ="#{index+1}."
              = solution.text
        -else
          There are no results to display. Go back and vote!